<%- include("./body/header") %>
    <div class="container d-flex justify-content-center my-5">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Edit Todo</h5>
              <p class="card-text"><%= data._id %></p>
              <p class="card-text">Todo</p>
              <form action="/update/todo/" method="POST" class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" <%= data.completed ? "checked" : "" %>>
                <label class="form-check-label" for="flexCheckDefault">Completed </label>
              </form>
              <input type ="submit" value="Done Todo" class="btn btn-success my-2"/>
            </div>
          </div>
    </div>
    
<%- include("./body/footer") %>